<mat-card-title>Document {{documentNumber}}</mat-card-title>
<mat-card-content>
    <mat-card-title>{{document && document.title}}</mat-card-title>
    <mat-list>
        <mat-list-item *ngIf="document && document.author">
            <p>
                <span>author:</span>
                <span>{{document && document.author}}</span>
            </p>
        </mat-list-item>
        <mat-list-item *ngIf="convertedDate">
            <p>
                <span>date:</span>
                <span>{{convertedDate}}</span>
            </p>
        </mat-list-item>
        <mat-list-item>
            <p>pages:</p>
        </mat-list-item>
    </mat-list>
    <div class="buttons">
        <button
            *ngFor="let page of pages;"
            [ngClass]="{pageButton: true, active: page.pageNr === activeButtonNumber}"
            (click)="handleLinkClick(page,page.pageNr)">
            {{page.pageNr}}
        </button>
        <button (click)="addPageDialog()" class="addButton">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </div>


</mat-card-content>
<router-outlet></router-outlet>
