<mat-card-title>Document {{documentNumber && documentNumber}}</mat-card-title>
<mat-card-content>
    <mat-card-subtitle class="subtitle">{{document && document.title}}</mat-card-subtitle>
    <mat-list>
        <mat-list-item *ngIf="document && document.author" class="listItem">
            <p>
                <span class="label">author:</span>
                <span>{{document && document.author}}</span>
            </p>
        </mat-list-item>
        <mat-list-item *ngIf="convertedDate" class="listItem">
            <p>
                <span class="label">date:</span>
                <span>{{convertedDate}}</span>
            </p>
        </mat-list-item>
        <mat-list-item class="listItem">
            <p>
				<span class="label">pages:</span>
			</p>
        </mat-list-item>
    </mat-list>
    <div class="buttons">
        <button
            *ngFor="let page of pages"
            [ngClass]="{pageButton: true, active: page.pageNr === activeButtonNumber}"
            (click)="handleLinkClick(page._id,page.pageNr)">
            {{page.pageNr}}
        </button>
        <button mat-icon-button (click)="addPageDialog()" class="addButton">
            <mat-icon>add</mat-icon>
        </button>
    </div>


</mat-card-content>
<router-outlet></router-outlet>
