a,a:visited {
	color: black;
	display: block;
	text-decoration: none;
	width: 100%;
}

mat-list-item.listItem {
	display: block;
	border: 1px solid black;
	margin: 10px 5px;
	padding: 0px;
	text-align: center;
	font-size: 16px;
	padding: 2px 10px 2px 26px;
}

mat-list-item.listItem a mat-icon {
	float: right;
	width: 16px;
	height: 16px;
	font-size: 20px;
}
