 <mat-card-title>Number of documents {{documentsCount}}</mat-card-title>
<mat-card-content>
  <app-filter label="Filter documents:" (filterChangeEvent)="filterDocuments($event)"></app-filter>
  <app-item
    *ngFor="let document of filteredDocuments; index as i"
    [title]="document.title"
    (linkClickEvent)="handleLinkClick(document._id, i)">
  </app-item>
  <mat-card-actions align="end">
    <app-icon-button
      (click)="addDocumentDialog()"
      icon='add'
      size='35px'
      borderWidth="1px">
    </app-icon-button>
  </mat-card-actions>
</mat-card-content>
